@import '../../../assets/css/variables';

.transaction-container {
  max-width: $primary-width;
  padding-top: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 720px) {
    flex-direction: column;
  }
}

.form  {
  width: 25%;

  @media only screen and (max-width: 720px) {
    width: 100%;
    margin-bottom: 24px;
  }
}

.resent {
  width: 70%;
  
  @media only screen and (max-width: 720px) {
    width: 100%;
    margin-bottom: 24px;
  }
}
