<div class="container">
  <div class="status" [style.background-color]="transaction.categoryCode"></div>
  <div class="details">
    <div class="date">
      {{ transaction.dates.valueDate | date:'MMM d' }}
    </div>
    <div class="logo">
      <img width="40" src="{{ transaction.merchant.name  | transactionImg }}">
    </div>
    <div class="company-name">
      <div class="merchant"> {{ transaction.merchant.name }} </div>
      <div>
        {{ transaction.transaction.type }}
      </div>
    </div>
    <div class="amount">
      -
     {{ transaction.transaction.amountCurrency.amount | currency:transaction.transaction.amountCurrency.currencyCode }}
    </div>
  </div>
</div>