@import '../../../assets/css/variables';

.container {
  display: flex;
  min-height: 70px;
  width: 100%;
}

.status {
  display: flex;
  width: 10px;
}

.details {
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px solid $secondary;
  border-left: none;
  padding: 0 24px;
  box-sizing: border-box;

  @media only screen and (max-width: 450px) {
    flex-direction: column;
    align-items: flex-start;

    > div {
      margin-bottom: 12px;
    }
    
    div:first-child {
      margin-top: 12px;
    }
  }

  > div:not(:last-child) {
    margin-right: 24px;
  }

  .logo img {
    filter: grayscale(100%);
  }

  .company-name {
    flex: 1;

    .merchant {
      margin-bottom: 6px;
      font-weight: bold;
    }
  }

  .amount {
    font-weight: bold;
  }
}