@import './assets/css/variables';
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body { height: 100%; }
body { 
  margin: 0; font-family: Kanit, Roboto, sans-serif; 
  background: url('/assets/img/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: overlay;
}


input.input-field {
  outline: none;
  border: none;
  border-bottom: 2px solid $secondary;
  transition: 0.2s;
  padding: 8px 0;
  box-sizing: border-box;
  font-family: Kanit, Roboto, sans-serif;

  &:focus {
    border-bottom: 2px solid $orange;
  }

  &:disabled {
    color: $secondary;
  }
}

.input-container {
  position: relative;

  input.input-field.prefix {
    padding-left: 20px;
    
  }

  .prefix-element {
    display: block;
    position: absolute;
    left: 0;
    bottom: 8px;
  }
}

button.button-primary {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: $orange;
  color: white;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition: 0.2s;
  position: relative;
  font-family: Kanit, Roboto, sans-serif;

  &:focus {
    border: 1px solid transparent;
    outline: none;
  }
}  

.input-prefix {
  position: absolute;
}
  
